# Logging
HAPE_LOG_LEVEL=DEBUG # optional; one of DEBUG, INFO, WARNING, ERROR, CRITICAL
HAPE_ENABLE_LOG_FILE=0 # optional; 0/1 or false/true
HAPE_LOG_FILE="/path/to/hape.log" # optional; used when HAPE_ENABLE_LOG_FILE is on

# GitLab
GITLAB_DOMAIN="your-gitlab-domain" # e.g. gitlab.com
GITLAB_TOKEN=""
GITLAB_DEFAULT_GROUP_ID=123 # must be an integer

# Kubernetes
KUBERNETES_CONTEXT="name-of-kube-context"

# Atlassian
ATLASSIAN_DOMAIN="company.atlassian.net"
ATLASSIAN_EMAIL="your.name@company.com"
ATLASSIAN_API_KEY="your-api-key"
CONFLUENCE_CHANGELOG_PARENT_PAGE_ID=123 # must be an integer
CONFLUENCE_CHANGELOG_ENTRY_PAGE_TEMPLATE_ID=123 # must be an integer
CONFLUENCE_TEST_PARENT_PAGE_ID=123 # must be an integer

# Grafana
GRAFANA_DOMAIN="grafana.example.com" # optional; used by grafana command when cli flag is not passed
GRAFANA_PORT=443 # optional; defaults to 443 if not set. 443 uses https, other ports use http
GRAFANA_TOKEN="" # optional; token auth for grafana command
GRAFANA_USERNAME="" # optional; basic auth username for grafana command
GRAFANA_PASSWORD="" # optional; basic auth password for grafana command
GRAFANA_DEPLOYMENTS_SUBPATH="monitor-system/grafana2/grafana2" # optional; used by grafana command when cli flag is not passed
